{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.verda.api#GetAccessTokenDto": {
      "type": "structure",
      "members": {
        "grant_type": {
          "target": "com.verda.api#GetAccessTokenDtoGrantType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "client_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "client_secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {}
    },
    "com.verda.api#GetAccessTokenDtoGrantType": {
      "type": "enum",
      "members": {
        "CLIENT_CREDENTIALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "client_credentials"
          }
        },
        "REFRESH_TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "refresh_token"
          }
        }
      },
      "traits": {}
    },
    "com.verda.api#RefreshAccessTokenPublicApiDto": {
      "type": "structure",
      "members": {
        "grant_type": {
          "target": "com.verda.api#RefreshAccessTokenPublicApiDtoGrantType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "refresh_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {}
    },
    "com.verda.api#RefreshAccessTokenPublicApiDtoGrantType": {
      "type": "enum",
      "members": {
        "CLIENT_CREDENTIALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "client_credentials"
          }
        },
        "REFRESH_TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "refresh_token"
          }
        }
      },
      "traits": {}
    },
    "com.verda.api#GetAccessTokenRequestBody": {
      "type": "union",
      "members": {
        "GetAccessTokenDto": {
          "target": "com.verda.api#GetAccessTokenDto"
        },
        "RefreshAccessTokenPublicApiDto": {
          "target": "com.verda.api#RefreshAccessTokenPublicApiDto"
        }
      },
      "traits": {}
    },
    "com.verda.api#GetAccessTokenRequest": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.verda.api#GetAccessTokenRequestBody",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.verda.api#GetAccessTokenResponseDto": {
      "type": "structure",
      "members": {
        "access_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Access token value",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        },
        "token_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token type",
            "smithy.api#required": {}
          }
        },
        "expires_in": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Token expiration time in seconds",
            "smithy.api#required": {}
          }
        },
        "refresh_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Refresh token value",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        },
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Access scope",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.verda.api#GetAccessToken": {
      "type": "operation",
      "input": {
        "target": "com.verda.api#GetAccessTokenRequest"
      },
      "output": {
        "target": "com.verda.api#GetAccessTokenResponseDto"
      },
      "errors": [
        {
          "target": "com.verda.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/oauth2/token",
          "code": 200
        },
        "smithy.api#documentation": "Get access token\n\nGet access token for public API using client credentials or refresh token.You can manage your credentials at https://console.verda.com, under the **Keys** => **Cloud API credentials** section."
      }
    },
    "com.verda.api#BalanceResponseDto": {
      "type": "structure",
      "members": {
        "amount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Project balance",
            "smithy.api#required": {}
          }
        },
        "currency": {
          "target": "com.verda.api#BalanceResponseDtoCurrency",
          "traits": {
            "smithy.api#documentation": "Currency type",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.verda.api#BalanceResponseDtoCurrency": {
      "type": "enum",
      "members": {
        "USD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "usd"
          }
        },
        "EUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eur"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Currency type"
      }
    },
    "com.verda.api#GetBalanceControllerBalance": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.verda.api#BalanceResponseDto"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/balance",
          "code": 200
        },
        "smithy.api#documentation": "Get project balance"
      }
    },
    "com.verda.api#GetImagesControllerImageTypesRequest": {
      "type": "structure",
      "members": {
        "instance_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "instance_type",
            "smithy.api#documentation": "Filter OS images by instance type. Default is all instance images."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.verda.api#Os": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Image id",
            "smithy.api#required": {}
          }
        },
        "image_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Image type",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Image name",
            "smithy.api#required": {}
          }
        },
        "is_default": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Is default image",
            "smithy.api#required": {}
          }
        },
        "details": {
          "target": "com.verda.api#OsDetailsList",
          "traits": {
            "smithy.api#documentation": "Image details",
            "smithy.api#required": {}
          }
        },
        "category": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Image category",
            "smithy.api#required": {}
          }
        },
        "is_cluster": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Is cluster",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.verda.api#OsDetailsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Image details"
      }
    },
    "com.verda.api#GetImagesControllerImageTypesResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.verda.api#Os"
      },
      "traits": {}
    },
    "com.verda.api#GetImagesControllerImageTypesResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.verda.api#GetImagesControllerImageTypesResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.verda.api#GetImagesControllerImageTypes": {
      "type": "operation",
      "input": {
        "target": "com.verda.api#GetImagesControllerImageTypesRequest"
      },
      "output": {
        "target": "com.verda.api#GetImagesControllerImageTypesResponse"
      },
      "errors": [
        {
          "target": "com.verda.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/images",
          "code": 200
        },
        "smithy.api#documentation": "Get images types for instances"
      }
    },
    "com.verda.api#GetImagesControllerClusterImageTypesRequest": {
      "type": "structure",
      "members": {
        "instance_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "instance_type",
            "smithy.api#documentation": "Filter OS images by instance type. Default is all cluster images."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.verda.api#GetImagesControllerClusterImageTypesResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.verda.api#Os"
      },
      "traits": {}
    },
    "com.verda.api#GetImagesControllerClusterImageTypesResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.verda.api#GetImagesControllerClusterImageTypesResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.verda.api#GetImagesControllerClusterImageTypes": {
      "type": "operation",
      "input": {
        "target": "com.verda.api#GetImagesControllerClusterImageTypesRequest"
      },
      "output": {
        "target": "com.verda.api#GetImagesControllerClusterImageTypesResponse"
      },
      "errors": [
        {
          "target": "com.verda.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/images/cluster",
          "code": 200
        },
        "smithy.api#documentation": "Get images types for cluster"
      }
    },
    "com.verda.api#GetAuditLogControllerAuditLogRequestAction": {
      "type": "enum",
      "members": {
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        },
        "CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "create"
          }
        },
        "START": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "start"
          }
        },
        "START_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "start_complete"
          }
        },
        "SHUTDOWN_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "shutdown_complete"
          }
        },
        "SHUTDOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "shutdown"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete"
          }
        },
        "DELETE_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete_complete"
          }
        },
        "ATTACH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "attach"
          }
        },
        "ATTACH_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "attach_complete"
          }
        },
        "DETACH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "detach"
          }
        },
        "DETACH_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "detach_complete"
          }
        },
        "CLONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clone"
          }
        },
        "RESIZE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resize"
          }
        },
        "RENAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rename"
          }
        },
        "TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "transfer"
          }
        },
        "TRASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trash"
          }
        },
        "TRASH_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trash_complete"
          }
        },
        "RESTORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "restore"
          }
        },
        "CANCEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancel"
          }
        },
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "provisioning"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "CONFIGURE_SPOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "configure_spot"
          }
        },
        "AUTHENTICATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "authenticate"
          }
        },
        "EXPIRE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "expire"
          }
        },
        "ACCEPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accept"
          }
        },
        "UPDATE_ROLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "update_role"
          }
        },
        "REVOKE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "revoke"
          }
        },
        "LOGIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "login"
          }
        },
        "LOGOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "logout"
          }
        },
        "LOGIN_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "login_failed"
          }
        },
        "AUTH_MFA_ENABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auth_mfa_enable"
          }
        },
        "AUTH_MFA_DISABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auth_mfa_disable"
          }
        },
        "AUTH_MFA_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auth_mfa_challenge"
          }
        },
        "AUTH_MFA_VERIFY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auth_mfa_verify"
          }
        },
        "PASSWORD_RESET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "password_reset"
          }
        },
        "COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "complete"
          }
        },
        "REDEEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "redeem"
          }
        },
        "SUSPEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspend"
          }
        },
        "UNSUSPEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unsuspend"
          }
        },
        "APPROVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "approve"
          }
        },
        "DECLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "decline"
          }
        },
        "UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "update"
          }
        },
        "ROTATE_SECRET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rotate_secret"
          }
        },
        "DISABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disable"
          }
        },
        "ENABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enable"
          }
        }
      },
      "traits": {}
    },
    "com.verda.api#GetAuditLogControllerAuditLogRequestObjectType": {
      "type": "enum",
      "members": {
        "COMPUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "compute"
          }
        },
        "VOLUME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "volume"
          }
        },
        "SSH_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ssh_key"
          }
        },
        "INVITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "invite"
          }
        },
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "MEMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "member"
          }
        },
        "CLOUD_API_CREDENTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cloud_api_credential"
          }
        },
        "OBJECT_STORAGE_BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "object_storage_bucket"
          }
        },
        "OBJECT_STORAGE_KEY_PAIR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "object_storage_key_pair"
          }
        },
        "CUSTOM_IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom_image"
          }
        },
        "STARTUP_SCRIPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "startup_script"
          }
        },
        "TOPUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "topup"
          }
        },
        "COUPON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "coupon"
          }
        },
        "BANK_TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bank_transfer"
          }
        },
        "BANK_TRANSFER_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bank_transfer_account"
          }
        },
        "BALANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "balance"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        },
        "OBJECT_STORAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "object_storage"
          }
        },
        "QUOTA_REQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "quota_request"
          }
        },
        "WEBHOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "webhook"
          }
        },
        "AUTO_TOP_UP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto_top_up"
          }
        }
      },
      "traits": {}
    },
    "com.verda.api#GetAuditLogControllerAuditLogRequest": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.verda.api#GetAuditLogControllerAuditLogRequestAction",
          "traits": {
            "smithy.api#httpQuery": "action",
            "smithy.api#documentation": "Filter by action type"
          }
        },
        "object_type": {
          "target": "com.verda.api#GetAuditLogControllerAuditLogRequestObjectType",
          "traits": {
            "smithy.api#httpQuery": "object_type",
            "smithy.api#documentation": "Filter by object type"
          }
        },
        "start_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "start_date",
            "smithy.api#documentation": "Return events created at or after this timestamp. Cannot be earlier than 90 days ago. Default is 90 days ago."
          }
        },
        "end_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "end_date",
            "smithy.api#documentation": "Return events created at or before this timestamp. Cannot be before the start date."
          }
        },
        "page_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "page_size",
            "smithy.api#documentation": "Number of items per page, default 20 maximum 100"
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor",
            "smithy.api#documentation": "Cursor to start from, as specified by the previous response"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.verda.api#GetAuditLogResponseListDto": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.verda.api#GetAuditLogResponseListDtoDataList",
          "traits": {
            "smithy.api#documentation": "List of audit log events",
            "smithy.api#required": {}
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cursor for next page, if there are more results"
          }
        }
      },
      "traits": {}
    },
    "com.verda.api#AuditLogResponseDto": {
      "type": "structure",
      "members": {
        "specversion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the CloudEvents specification that the event uses.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of event that occurred, as `com.verda.api.<producer>.<object_type>.<action>.v1`.",
            "smithy.api#required": {}
          }
        },
        "subject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This identifies the subject of the event in the context of the event producer. Typically it is ID of the object that the event is related to.",
            "smithy.api#required": {}
          }
        },
        "time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the event occurred.",
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The data of the event, varies for different object types. For the subject of the event, the corresponding object is embedded; other related objects are referenced by ID.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.verda.api#GetAuditLogResponseListDtoDataList": {
      "type": "list",
      "member": {
        "target": "com.verda.api#AuditLogResponseDto"
      },
      "traits": {
        "smithy.api#documentation": "List of audit log events"
      }
    },
    "com.verda.api#GetAuditLogControllerAuditLog": {
      "type": "operation",
      "input": {
        "target": "com.verda.api#GetAuditLogControllerAuditLogRequest"
      },
      "output": {
        "target": "com.verda.api#GetAuditLogResponseListDto"
      },
      "errors": [
        {
          "target": "com.verda.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/audit/log",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve audit log for the project\n\nRetrieves all events for the project, for all resources matching the filter criteria. The format to generate audit log is based on [CloudEvents specification](https://github.com/cloudevents/spec)."
      }
    },
    "com.verda.api#DownloadAuditLogControllerAuditLogRequestAction": {
      "type": "enum",
      "members": {
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        },
        "CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "create"
          }
        },
        "START": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "start"
          }
        },
        "START_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "start_complete"
          }
        },
        "SHUTDOWN_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "shutdown_complete"
          }
        },
        "SHUTDOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "shutdown"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete"
          }
        },
        "DELETE_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete_complete"
          }
        },
        "ATTACH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "attach"
          }
        },
        "ATTACH_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "attach_complete"
          }
        },
        "DETACH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "detach"
          }
        },
        "DETACH_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "detach_complete"
          }
        },
        "CLONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clone"
          }
        },
        "RESIZE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resize"
          }
        },
        "RENAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rename"
          }
        },
        "TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "transfer"
          }
        },
        "TRASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trash"
          }
        },
        "TRASH_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trash_complete"
          }
        },
        "RESTORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "restore"
          }
        },
        "CANCEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancel"
          }
        },
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "provisioning"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "CONFIGURE_SPOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "configure_spot"
          }
        },
        "AUTHENTICATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "authenticate"
          }
        },
        "EXPIRE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "expire"
          }
        },
        "ACCEPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accept"
          }
        },
        "UPDATE_ROLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "update_role"
          }
        },
        "REVOKE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "revoke"
          }
        },
        "LOGIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "login"
          }
        },
        "LOGOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "logout"
          }
        },
        "LOGIN_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "login_failed"
          }
        },
        "AUTH_MFA_ENABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auth_mfa_enable"
          }
        },
        "AUTH_MFA_DISABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auth_mfa_disable"
          }
        },
        "AUTH_MFA_CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auth_mfa_challenge"
          }
        },
        "AUTH_MFA_VERIFY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auth_mfa_verify"
          }
        },
        "PASSWORD_RESET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "password_reset"
          }
        },
        "COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "complete"
          }
        },
        "REDEEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "redeem"
          }
        },
        "SUSPEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspend"
          }
        },
        "UNSUSPEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unsuspend"
          }
        },
        "APPROVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "approve"
          }
        },
        "DECLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "decline"
          }
        },
        "UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "update"
          }
        },
        "ROTATE_SECRET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rotate_secret"
          }
        },
        "DISABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disable"
          }
        },
        "ENABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enable"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter by action type"
      }
    },
    "com.verda.api#DownloadAuditLogControllerAuditLogRequestObjectType": {
      "type": "enum",
      "members": {
        "COMPUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "compute"
          }
        },
        "VOLUME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "volume"
          }
        },
        "SSH_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ssh_key"
          }
        },
        "INVITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "invite"
          }
        },
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "MEMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "member"
          }
        },
        "CLOUD_API_CREDENTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cloud_api_credential"
          }
        },
        "OBJECT_STORAGE_BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "object_storage_bucket"
          }
        },
        "OBJECT_STORAGE_KEY_PAIR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "object_storage_key_pair"
          }
        },
        "CUSTOM_IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom_image"
          }
        },
        "STARTUP_SCRIPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "startup_script"
          }
        },
        "TOPUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "topup"
          }
        },
        "COUPON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "coupon"
          }
        },
        "BANK_TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bank_transfer"
          }
        },
        "BANK_TRANSFER_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bank_transfer_account"
          }
        },
        "BALANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "balance"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        },
        "OBJECT_STORAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "object_storage"
          }
        },
        "QUOTA_REQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "quota_request"
          }
        },
        "WEBHOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "webhook"
          }
        },
        "AUTO_TOP_UP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto_top_up"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter by object type"
      }
    },
    "com.verda.api#DownloadAuditLogControllerAuditLogRequest": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.verda.api#DownloadAuditLogControllerAuditLogRequestAction",
          "traits": {
            "smithy.api#documentation": "Filter by action type"
          }
        },
        "object_type": {
          "target": "com.verda.api#DownloadAuditLogControllerAuditLogRequestObjectType",
          "traits": {
            "smithy.api#documentation": "Filter by object type"
          }
        },
        "start_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Return events created at or after this timestamp. Cannot be earlier than 90 days ago. Default is 90 days ago."
          }
        },
        "end_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Return events created at or before this timestamp. Cannot be before the start date."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.verda.api#DownloadAuditLogResponseDto": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pre-signed URL to download the exported audit log JSON file. Short-lived; request a new export once it expires.",
            "smithy.api#required": {}
          }
        },
        "expires_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO timestamp after which the download URL expires.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.verda.api#DownloadAuditLogControllerAuditLog": {
      "type": "operation",
      "input": {
        "target": "com.verda.api#DownloadAuditLogControllerAuditLogRequest"
      },
      "output": {
        "target": "com.verda.api#DownloadAuditLogResponseDto"
      },
      "errors": [
        {
          "target": "com.verda.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/audit/log/download",
          "code": 200
        },
        "smithy.api#documentation": "Export project audit log as a JSON file\n\nStreams the full audit log (matching the given filters, within the retention window) to object storage and returns a short-lived pre-signed download URL."
      }
    },
    "com.verda.api#GetJournalControllerJournalRequestActionCode": {
      "type": "enum",
      "members": {
        "CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "create"
          }
        },
        "START": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "start"
          }
        },
        "START_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "start:complete"
          }
        },
        "SHUTDOWN_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "shutdown:complete"
          }
        },
        "SHUTDOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "shutdown"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete"
          }
        },
        "DELETE_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete:complete"
          }
        },
        "ATTACH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "attach"
          }
        },
        "ATTACH_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "attach:complete"
          }
        },
        "DETACH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "detach"
          }
        },
        "DETACH_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "detach:complete"
          }
        },
        "CLONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clone"
          }
        },
        "RESIZE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resize"
          }
        },
        "RENAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rename"
          }
        },
        "RESTORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "restore"
          }
        },
        "TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "transfer"
          }
        },
        "TRASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trash"
          }
        },
        "TRASH_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trash:complete"
          }
        },
        "CONFIGURE_SPOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "configure_spot"
          }
        },
        "CANCEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancel"
          }
        },
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "provisioning"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "INSTALLATION_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "installation:failed"
          }
        },
        "VALIDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "validating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleting"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      },
      "traits": {}
    },
    "com.verda.api#GetJournalControllerJournalRequestObjectType": {
      "type": "enum",
      "members": {
        "COMPUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "compute"
          }
        },
        "VOLUME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "volume"
          }
        }
      },
      "traits": {}
    },
    "com.verda.api#GetJournalControllerJournalRequest": {
      "type": "structure",
      "members": {
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "Page number, starting from 1"
          }
        },
        "pageSize": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "pageSize",
            "smithy.api#documentation": "Number of items per page, default 10 maximum 100"
          }
        },
        "compute_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "compute_id",
            "smithy.api#documentation": "Specify either compute_id or volume_id"
          }
        },
        "volume_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "volume_id",
            "smithy.api#documentation": "Specify either volume_id or compute_id"
          }
        },
        "action_code": {
          "target": "com.verda.api#GetJournalControllerJournalRequestActionCode",
          "traits": {
            "smithy.api#httpQuery": "action_code",
            "smithy.api#documentation": "Filter by action code"
          }
        },
        "object_type": {
          "target": "com.verda.api#GetJournalControllerJournalRequestObjectType",
          "traits": {
            "smithy.api#httpQuery": "object_type",
            "smithy.api#documentation": "Filter by object type"
          }
        },
        "hydrate": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "hydrate",
            "smithy.api#documentation": "Hydrate every event with user, instance and volume objects"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.verda.api#GetActivityJournalResponseDto": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Event ID, unique within the project. Please note that it is not UUID but a combined string to identify the event.",
            "smithy.api#required": {}
          }
        },
        "object_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the object that the event is related to.",
            "smithy.api#required": {}
          }
        },
        "object_type": {
          "target": "com.verda.api#GetActivityJournalResponseDtoObjectType",
          "traits": {
            "smithy.api#documentation": "Object type that the event is related to.",
            "smithy.api#required": {}
          }
        },
        "action_code": {
          "target": "com.verda.api#GetActivityJournalResponseDtoActionCode",
          "traits": {
            "smithy.api#documentation": "Action that was performed on the object.",
            "smithy.api#required": {}
          }
        },
        "actor_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the actor that performed the action. For some actions, such as spot discontinue, the actor is not available and assumed to be system.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "actor_email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email of the actor that performed the action.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the project that the event is related to.",
            "smithy.api#required": {}
          }
        },
        "timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the event happened.",
            "smithy.api#required": {}
          }
        },
        "location_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Datacenter location code where the event happened or this object is located.",
            "smithy.api#required": {}
          }
        },
        "request_origin": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Origin of the request that caused the event. For example, public API, Console UI, or undefined for the internal system."
          }
        },
        "request_ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP address of the request that caused the event."
          }
        },
        "error_message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For error events, the error message"
          }
        },
        "parent_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For some events, for example attach volume during instance provisioning, the ID of the parent event."
          }
        },
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For some events, the internal service that caused the event."
          }
        },
        "target_location_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For cross-datacenter events, the location code of the target location."
          }
        },
        "volume": {
          "target": "com.verda.api#ActivityVolumeDto",
          "traits": {
            "smithy.api#documentation": "Associated volume object, if the object is a volume."
          }
        },
        "compute": {
          "target": "com.verda.api#ActivityComputeDto",
          "traits": {
            "smithy.api#documentation": "Detailed compute object, if the object type is a compute."
          }
        },
        "target_volume_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For some events, the ID of the target volume."
          }
        },
        "target_volume": {
          "target": "com.verda.api#ActivityVolumeDto",
          "traits": {
            "smithy.api#documentation": "Associated target volume object",
            "com.distilled.openapi#nullable": {}
          }
        },
        "target_compute_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For some events, the ID of the target compute."
          }
        },
        "target_compute": {
          "target": "com.verda.api#ActivityComputeDto",
          "traits": {
            "smithy.api#documentation": "Associated target compute object",
            "com.distilled.openapi#nullable": {}
          }
        },
        "source_volume_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For some events, the ID of the source volume."
          }
        },
        "source_volume": {
          "target": "com.verda.api#ActivityVolumeDto",
          "traits": {
            "smithy.api#documentation": "Associated source volume object",
            "com.distilled.openapi#nullable": {}
          }
        },
        "source_compute_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For some events, the ID of the source compute."
          }
        },
        "source_compute": {
          "target": "com.verda.api#ActivityComputeDto",
          "traits": {
            "smithy.api#documentation": "Associated source compute object",
            "com.distilled.openapi#nullable": {}
          }
        },
        "properties": {
          "target": "com.verda.api#GetActivityJournalResponseDtoPropertiesMap",
          "traits": {
            "smithy.api#documentation": "Additional properties of the event."
          }
        }
      },
      "traits": {}
    },
    "com.verda.api#GetActivityJournalResponseDtoObjectType": {
      "type": "enum",
      "members": {
        "COMPUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "compute"
          }
        },
        "VOLUME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "volume"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Object type that the event is related to."
      }
    },
    "com.verda.api#GetActivityJournalResponseDtoActionCode": {
      "type": "enum",
      "members": {
        "CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "create"
          }
        },
        "START": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "start"
          }
        },
        "START_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "start:complete"
          }
        },
        "SHUTDOWN_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "shutdown:complete"
          }
        },
        "SHUTDOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "shutdown"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete"
          }
        },
        "DELETE_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete:complete"
          }
        },
        "ATTACH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "attach"
          }
        },
        "ATTACH_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "attach:complete"
          }
        },
        "DETACH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "detach"
          }
        },
        "DETACH_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "detach:complete"
          }
        },
        "CLONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clone"
          }
        },
        "RESIZE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resize"
          }
        },
        "RENAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rename"
          }
        },
        "RESTORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "restore"
          }
        },
        "TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "transfer"
          }
        },
        "TRASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trash"
          }
        },
        "TRASH_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trash:complete"
          }
        },
        "CONFIGURE_SPOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "configure_spot"
          }
        },
        "CANCEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancel"
          }
        },
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "provisioning"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "INSTALLATION_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "installation:failed"
          }
        },
        "VALIDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "validating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleting"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Action that was performed on the object."
      }
    },
    "com.verda.api#ActivityVolumeDto": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "gb": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "is_shared_fs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "template_type": {
          "target": "com.verda.api#ActivityVolumeDtoTemplateType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "location_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.verda.api#ActivityVolumeDtoTemplateType": {
      "type": "enum",
      "members": {
        "HDD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HDD"
          }
        },
        "NVME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NVMe"
          }
        },
        "HDD_SHARED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HDD_Shared"
          }
        },
        "NVME_SHARED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NVMe_Shared"
          }
        },
        "NVME_LOCAL_STORAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NVMe_Local_Storage"
          }
        },
        "NVME_SHARED_CLUSTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NVMe_Shared_Cluster"
          }
        },
        "NVME_OS_CLUSTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NVMe_OS_Cluster"
          }
        }
      },
      "traits": {}
    },
    "com.verda.api#ActivityComputeDto": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "hostname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "compute_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "is_cluster": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "os_volume_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "location_code": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.verda.api#GetActivityJournalResponseDtoPropertiesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Additional properties of the event."
      }
    },
    "com.verda.api#GetJournalControllerJournalResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.verda.api#GetActivityJournalResponseDto"
      },
      "traits": {}
    },
    "com.verda.api#GetJournalControllerJournalResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.verda.api#GetJournalControllerJournalResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.verda.api#GetJournalControllerJournal": {
      "type": "operation",
      "input": {
        "target": "com.verda.api#GetJournalControllerJournalRequest"
      },
      "output": {
        "target": "com.verda.api#GetJournalControllerJournalResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/journal",
          "code": 200
        },
        "smithy.api#documentation": "Get activity journal for a compute or volume"
      }
    },
    "com.verda.api#GetJournalControllerComputeJournalRequestActionCode": {
      "type": "enum",
      "members": {
        "CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "create"
          }
        },
        "START": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "start"
          }
        },
        "START_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "start:complete"
          }
        },
        "SHUTDOWN_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "shutdown:complete"
          }
        },
        "SHUTDOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "shutdown"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete"
          }
        },
        "DELETE_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete:complete"
          }
        },
        "ATTACH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "attach"
          }
        },
        "ATTACH_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "attach:complete"
          }
        },
        "DETACH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "detach"
          }
        },
        "DETACH_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "detach:complete"
          }
        },
        "CLONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clone"
          }
        },
        "RESIZE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resize"
          }
        },
        "RENAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rename"
          }
        },
        "RESTORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "restore"
          }
        },
        "TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "transfer"
          }
        },
        "TRASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trash"
          }
        },
        "TRASH_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trash:complete"
          }
        },
        "CONFIGURE_SPOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "configure_spot"
          }
        },
        "CANCEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancel"
          }
        },
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "provisioning"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "INSTALLATION_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "installation:failed"
          }
        },
        "VALIDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "validating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleting"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      },
      "traits": {}
    },
    "com.verda.api#GetJournalControllerComputeJournalRequestObjectType": {
      "type": "enum",
      "members": {
        "COMPUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "compute"
          }
        },
        "VOLUME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "volume"
          }
        }
      },
      "traits": {}
    },
    "com.verda.api#GetJournalControllerComputeJournalRequest": {
      "type": "structure",
      "members": {
        "computeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "Page number, starting from 1"
          }
        },
        "pageSize": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "pageSize",
            "smithy.api#documentation": "Number of items per page, default 10 maximum 100"
          }
        },
        "compute_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "compute_id",
            "smithy.api#documentation": "Specify either compute_id or volume_id"
          }
        },
        "volume_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "volume_id",
            "smithy.api#documentation": "Specify either volume_id or compute_id"
          }
        },
        "action_code": {
          "target": "com.verda.api#GetJournalControllerComputeJournalRequestActionCode",
          "traits": {
            "smithy.api#httpQuery": "action_code",
            "smithy.api#documentation": "Filter by action code"
          }
        },
        "object_type": {
          "target": "com.verda.api#GetJournalControllerComputeJournalRequestObjectType",
          "traits": {
            "smithy.api#httpQuery": "object_type",
            "smithy.api#documentation": "Filter by object type"
          }
        },
        "hydrate": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "hydrate",
            "smithy.api#documentation": "Hydrate every event with user, instance and volume objects"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.verda.api#GetJournalControllerComputeJournalResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.verda.api#GetActivityJournalResponseDto"
      },
      "traits": {}
    },
    "com.verda.api#GetJournalControllerComputeJournalResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.verda.api#GetJournalControllerComputeJournalResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.verda.api#GetJournalControllerComputeJournal": {
      "type": "operation",
      "input": {
        "target": "com.verda.api#GetJournalControllerComputeJournalRequest"
      },
      "output": {
        "target": "com.verda.api#GetJournalControllerComputeJournalResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/journal/compute/{computeId}",
          "code": 200
        },
        "smithy.api#documentation": "Get activity journal for a compute\n\nGet all events for a compute (instance or cluster). Includes also associated volume or shared storage attach / detach events."
      }
    },
    "com.verda.api#GetJournalControllerVolumeJournalRequestActionCode": {
      "type": "enum",
      "members": {
        "CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "create"
          }
        },
        "START": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "start"
          }
        },
        "START_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "start:complete"
          }
        },
        "SHUTDOWN_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "shutdown:complete"
          }
        },
        "SHUTDOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "shutdown"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete"
          }
        },
        "DELETE_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete:complete"
          }
        },
        "ATTACH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "attach"
          }
        },
        "ATTACH_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "attach:complete"
          }
        },
        "DETACH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "detach"
          }
        },
        "DETACH_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "detach:complete"
          }
        },
        "CLONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clone"
          }
        },
        "RESIZE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resize"
          }
        },
        "RENAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rename"
          }
        },
        "RESTORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "restore"
          }
        },
        "TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "transfer"
          }
        },
        "TRASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trash"
          }
        },
        "TRASH_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trash:complete"
          }
        },
        "CONFIGURE_SPOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "configure_spot"
          }
        },
        "CANCEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancel"
          }
        },
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "provisioning"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "INSTALLATION_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "installation:failed"
          }
        },
        "VALIDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "validating"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleting"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      },
      "traits": {}
    },
    "com.verda.api#GetJournalControllerVolumeJournalRequestObjectType": {
      "type": "enum",
      "members": {
        "COMPUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "compute"
          }
        },
        "VOLUME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "volume"
          }
        }
      },
      "traits": {}
    },
    "com.verda.api#GetJournalControllerVolumeJournalRequest": {
      "type": "structure",
      "members": {
        "volumeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "page",
            "smithy.api#documentation": "Page number, starting from 1"
          }
        },
        "pageSize": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "pageSize",
            "smithy.api#documentation": "Number of items per page, default 10 maximum 100"
          }
        },
        "compute_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "compute_id",
            "smithy.api#documentation": "Specify either compute_id or volume_id"
          }
        },
        "volume_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "volume_id",
            "smithy.api#documentation": "Specify either volume_id or compute_id"
          }
        },
        "action_code": {
          "target": "com.verda.api#GetJournalControllerVolumeJournalRequestActionCode",
          "traits": {
            "smithy.api#httpQuery": "action_code",
            "smithy.api#documentation": "Filter by action code"
          }
        },
        "object_type": {
          "target": "com.verda.api#GetJournalControllerVolumeJournalRequestObjectType",
          "traits": {
            "smithy.api#httpQuery": "object_type",
            "smithy.api#documentation": "Filter by object type"
          }
        },
        "hydrate": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "hydrate",
            "smithy.api#documentation": "Hydrate every event with user, instance and volume objects"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.verda.api#GetJournalControllerVolumeJournalResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.verda.api#GetActivityJournalResponseDto"
      },
      "traits": {}
    },
    "com.verda.api#GetJournalControllerVolumeJournalResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.verda.api#GetJournalControllerVolumeJournalResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.verda.api#GetJournalControllerVolumeJournal": {
      "type": "operation",
      "input": {
        "target": "com.verda.api#GetJournalControllerVolumeJournalRequest"
      },
      "output": {
        "target": "com.verda.api#GetJournalControllerVolumeJournalResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/journal/volume/{volumeId}",
          "code": 200
        },
        "smithy.api#documentation": "Get activity journal for a volume\n\nGet all events for a volume. Does not include compute-related events."
      }
    },
    "com.verda.api#GetVolumesControllerVolumesRequestStatus": {
      "type": "enum",
      "members": {
        "ORDERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ordered"
          }
        },
        "ATTACHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "attached"
          }
        },
        "ATTACHING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "attaching"
          }
        },
        "DETACHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "detached"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleted"
          }
        },
        "CLONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cloning"
          }
        },
        "DETACHING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "detaching"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleting"
          }
        },
        "RESTORING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "restoring"
          }
        },
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created"
          }
        },
        "EXPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exported"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "canceled"
          }
        },
        "CANCELING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "canceling"
          }
        }
      },
      "traits": {}
    },
    "com.verda.api#GetVolumesControllerVolumesRequest": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.verda.api#GetVolumesControllerVolumesRequestStatus",
          "traits": {
            "smithy.api#httpQuery": "status",
            "smithy.api#documentation": "Get volumes with this status. Optional"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.verda.api#GetVolumePublicResponseDto": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Volume ID",
            "smithy.api#required": {}
          }
        },
        "instance_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Instance ID",
            "smithy.api#required": {}
          }
        },
        "instances": {
          "target": "com.verda.api#GetVolumePublicResponseDtoInstancesList",
          "traits": {
            "smithy.api#documentation": "Instance info the volume is attached to",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Volume name",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Volume creation date",
            "smithy.api#required": {}
          }
        },
        "created_by_user_id": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "com.verda.api#GetVolumePublicResponseDtoStatus",
          "traits": {
            "smithy.api#documentation": "Volume status",
            "smithy.api#required": {}
          }
        },
        "size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Volume size in GB",
            "smithy.api#required": {}
          }
        },
        "is_os_volume": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Is OS volume",
            "smithy.api#required": {}
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Volume target",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.verda.api#GetVolumePublicResponseDtoType",
          "traits": {
            "smithy.api#documentation": "Volume type",
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Volume location",
            "smithy.api#required": {}
          }
        },
        "ssh_key_ids": {
          "target": "com.verda.api#GetVolumePublicResponseDtoSshKeyIdsList",
          "traits": {
            "smithy.api#documentation": "Array of SSH key IDs that are linked to the volume if it is an OS volume",
            "smithy.api#required": {}
          }
        },
        "pseudo_path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Volume pseudo path. Unique identifier for your filesystem",
            "smithy.api#required": {}
          }
        },
        "create_directory_command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Create directory command",
            "smithy.api#required": {}
          }
        },
        "mount_command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Mount command",
            "smithy.api#required": {}
          }
        },
        "filesystem_to_fstab_command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Filesystem to fstab command",
            "smithy.api#required": {}
          }
        },
        "contract": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Volume contract type",
            "smithy.api#required": {}
          }
        },
        "base_hourly_cost": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Volume base hourly cost",
            "smithy.api#required": {}
          }
        },
        "monthly_price": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Volume monthly price",
            "smithy.api#required": {}
          }
        },
        "currency": {
          "target": "com.verda.api#GetVolumePublicResponseDtoCurrency",
          "traits": {
            "smithy.api#documentation": "Volume currency",
            "smithy.api#required": {}
          }
        },
        "long_term": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Long term contract details",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.verda.api#GetVolumePublicResponseDtoTagsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.verda.api#GetVolumePublicResponseDtoInstancesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Instance info the volume is attached to"
      }
    },
    "com.verda.api#GetVolumePublicResponseDtoStatus": {
      "type": "enum",
      "members": {
        "ORDERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ordered"
          }
        },
        "ATTACHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "attached"
          }
        },
        "ATTACHING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "attaching"
          }
        },
        "DETACHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "detached"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleted"
          }
        },
        "CLONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cloning"
          }
        },
        "DETACHING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "detaching"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleting"
          }
        },
        "RESTORING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "restoring"
          }
        },
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created"
          }
        },
        "EXPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exported"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "canceled"
          }
        },
        "CANCELING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "canceling"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Volume status"
      }
    },
    "com.verda.api#GetVolumePublicResponseDtoType": {
      "type": "enum",
      "members": {
        "HDD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HDD"
          }
        },
        "NVME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NVMe"
          }
        },
        "HDD_SHARED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HDD_Shared"
          }
        },
        "NVME_SHARED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NVMe_Shared"
          }
        },
        "NVME_LOCAL_STORAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NVMe_Local_Storage"
          }
        },
        "NVME_SHARED_CLUSTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NVMe_Shared_Cluster"
          }
        },
        "NVME_OS_CLUSTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NVMe_OS_Cluster"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Volume type"
      }
    },
    "com.verda.api#GetVolumePublicResponseDtoSshKeyIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Array of SSH key IDs that are linked to the volume if it is an OS volume"
      }
    },
    "com.verda.api#GetVolumePublicResponseDtoCurrency": {
      "type": "enum",
      "members": {
        "USD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "usd"
          }
        },
        "EUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eur"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Volume currency"
      }
    },
    "com.verda.api#TagResponseDto": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Empty string for a freeform tag",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.verda.api#GetVolumePublicResponseDtoTagsList": {
      "type": "list",
      "member": {
        "target": "com.verda.api#TagResponseDto"
      },
      "traits": {}
    },
    "com.verda.api#GetVolumesControllerVolumesResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.verda.api#GetVolumePublicResponseDto"
      },
      "traits": {}
    },
    "com.verda.api#GetVolumesControllerVolumesResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.verda.api#GetVolumesControllerVolumesResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.verda.api#GetVolumesControllerVolumes": {
      "type": "operation",
      "input": {
        "target": "com.verda.api#GetVolumesControllerVolumesRequest"
      },
      "output": {
        "target": "com.verda.api#GetVolumesControllerVolumesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/volumes",
          "code": 200
        },
        "smithy.api#documentation": "Get all volumes"
      }
    },
    "com.verda.api#CreateVolumesControllerVolumeRequestType": {
      "type": "enum",
      "members": {
        "HDD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HDD"
          }
        },
        "NVME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NVMe"
          }
        },
        "HDD_SHARED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HDD_Shared"
          }
        },
        "NVME_SHARED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NVMe_Shared"
          }
        },
        "NVME_LOCAL_STORAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NVMe_Local_Storage"
          }
        },
        "NVME_SHARED_CLUSTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NVMe_Shared_Cluster"
          }
        },
        "NVME_OS_CLUSTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NVMe_OS_Cluster"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Volume type"
      }
    },
    "com.verda.api#CreateVolumesControllerVolumeRequestInstanceIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Array of instance IDs to attach the volume to"
      }
    },
    "com.verda.api#TagDto": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Omit for a freeform tag with no value"
          }
        }
      },
      "traits": {}
    },
    "com.verda.api#CreateVolumesControllerVolumeRequestTagsList": {
      "type": "list",
      "member": {
        "target": "com.verda.api#TagDto"
      },
      "traits": {
        "smithy.api#documentation": "Key-value tags for the new volume. Maximum 10. Omit `value` for a freeform tag. Keys are lowercased."
      }
    },
    "com.verda.api#CreateVolumesControllerVolumeRequest": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.verda.api#CreateVolumesControllerVolumeRequestType",
          "traits": {
            "smithy.api#documentation": "Volume type",
            "smithy.api#required": {}
          }
        },
        "location_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Location code",
            "smithy.api#required": {}
          }
        },
        "size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Volume size in GB",
            "smithy.api#required": {}
          }
        },
        "instance_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Instance ID to attach the volume to"
          }
        },
        "instance_ids": {
          "target": "com.verda.api#CreateVolumesControllerVolumeRequestInstanceIdsList",
          "traits": {
            "smithy.api#documentation": "Array of instance IDs to attach the volume to"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Volume name",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.verda.api#CreateVolumesControllerVolumeRequestTagsList",
          "traits": {
            "smithy.api#documentation": "Key-value tags for the new volume. Maximum 10. Omit `value` for a freeform tag. Keys are lowercased."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.verda.api#CreateVolumesControllerVolume": {
      "type": "operation",
      "input": {
        "target": "com.verda.api#CreateVolumesControllerVolumeRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.verda.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/volumes",
          "code": 200
        },
        "smithy.api#documentation": "Create volume"
      }
    },
    "com.verda.api#VolumesControllerPerformActionsRequestAction": {
      "type": "enum",
      "members": {
        "ATTACH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "attach"
          }
        },
        "DETACH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "detach"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delete"
          }
        },
        "RENAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rename"
          }
        },
        "RESIZE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resize"
          }
        },
        "RESTORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "restore"
          }
        },
        "CLONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clone"
          }
        },
        "CANCEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancel"
          }
        },
[...]
