{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.runpod.api#SshKeys": {
      "type": "structure",
      "members": {
        "keys": {
          "target": "com.runpod.api#SshKeysKeysList",
          "traits": {
            "smithy.api#documentation": "The account's registered SSH public keys, one authorized_keys-style entry per element (`<type> <base64-key> [comment]`).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.runpod.api#SshKeysKeysList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The account's registered SSH public keys, one authorized_keys-style entry per element (`<type> <base64-key> [comment]`)."
      }
    },
    "com.runpod.api#GetSshKeys": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.runpod.api#SshKeys"
      },
      "errors": [
        {
          "target": "com.runpod.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/account/ssh-keys",
          "code": 200
        },
        "smithy.api#documentation": "List registered SSH public keys\n\nReturns the account's registered SSH public keys — the keys provisioned into pods created with `startSsh` and used to authenticate the SSH connections reported in a pod's `ssh` block."
      }
    },
    "com.runpod.api#UpdateSshKeysRequestKeysList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The full set of SSH public keys to register — this is a complete\nreplacement, not a merge. Each entry is an authorized_keys-style\nline: `<type> <base64-key> [comment]`, e.g. from\n`~/.ssh/id_ed25519.pub`. Send `[]` to remove all keys. These keys\nare provisioned into pods created with `startSsh` and\nauthenticate both SSH paths reported in the pod's `ssh` block.\n"
      }
    },
    "com.runpod.api#UpdateSshKeysRequest": {
      "type": "structure",
      "members": {
        "keys": {
          "target": "com.runpod.api#UpdateSshKeysRequestKeysList",
          "traits": {
            "smithy.api#documentation": "The full set of SSH public keys to register — this is a complete\nreplacement, not a merge. Each entry is an authorized_keys-style\nline: `<type> <base64-key> [comment]`, e.g. from\n`~/.ssh/id_ed25519.pub`. Send `[]` to remove all keys. These keys\nare provisioned into pods created with `startSsh` and\nauthenticate both SSH paths reported in the pod's `ssh` block.\n",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.runpod.api#UpdateSshKeys": {
      "type": "operation",
      "input": {
        "target": "com.runpod.api#UpdateSshKeysRequest"
      },
      "output": {
        "target": "com.runpod.api#SshKeys"
      },
      "errors": [
        {
          "target": "com.runpod.api#Forbidden"
        },
        {
          "target": "com.runpod.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v2/account/ssh-keys",
          "code": 200
        },
        "smithy.api#documentation": "Replace registered SSH public keys\n\nReplaces the account's full set of registered SSH public keys. Existing keys not present in the request are removed; send `[]` to remove all keys. Keys take effect for pods created afterwards with `startSsh` — running pods are not updated."
      }
    },
    "com.runpod.api#ListSecretsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "name",
            "smithy.api#documentation": "When provided, returns only the secret with this name (case-insensitive)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.runpod.api#ListSecretsResponse": {
      "type": "structure",
      "members": {
        "secrets": {
          "target": "com.runpod.api#ListSecretsResponseSecretsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.runpod.api#Secret": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique secret identifier",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique, human-readable name — the `<name>` referenced by the `RUNPOD_SECRET_<name>` placeholder. Immutable after creation.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable description",
            "com.distilled.openapi#nullable": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the secret was created",
            "smithy.api#required": {}
          }
        },
        "valueLastUpdatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the secret's value was last set (creation or rotation)",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An account-scoped secret: an encrypted string stored by Runpod, referenced from pod, serverless, and template environment variables with the `{{ RUNPOD_SECRET_<name> }}` placeholder, substituted with the secret's value when the pod or worker boots. The value is write-only and never returned by the API."
      }
    },
    "com.runpod.api#ListSecretsResponseSecretsList": {
      "type": "list",
      "member": {
        "target": "com.runpod.api#Secret"
      },
      "traits": {}
    },
    "com.runpod.api#ListSecrets": {
      "type": "operation",
      "input": {
        "target": "com.runpod.api#ListSecretsRequest"
      },
      "output": {
        "target": "com.runpod.api#ListSecretsResponse"
      },
      "errors": [
        {
          "target": "com.runpod.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/account/secrets",
          "code": 200
        },
        "smithy.api#documentation": "List secrets\n\nReturns the account's secrets — encrypted strings referenced from pod, serverless, and template environment variables with the `{{ RUNPOD_SECRET_<name> }}` placeholder syntax, substituted with the secret's value when the pod or worker boots. Secret values are write-only and are never returned."
      }
    },
    "com.runpod.api#CreateSecretRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique name for the secret — referenced from environment variables as `{{ RUNPOD_SECRET_<name> }}`; immutable after creation. Maximum 191 characters, must start with a letter or underscore, and may contain letters, digits, and `_.-/`. Names beginning with the reserved prefix `RUNPOD` are rejected (case-insensitive).",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The secret value. Write-only — never returned by the API. Must be smaller than 16 MiB of UTF-8 text (strictly under 16,777,216 bytes).",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional human-readable description, at most 65,535 bytes of UTF-8 text."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.runpod.api#CreateSecret": {
      "type": "operation",
      "input": {
        "target": "com.runpod.api#CreateSecretRequest"
      },
      "output": {
        "target": "com.runpod.api#Secret"
      },
      "errors": [
        {
          "target": "com.runpod.api#BadRequest"
        },
        {
          "target": "com.runpod.api#Forbidden"
        },
        {
          "target": "com.runpod.api#Conflict"
        },
        {
          "target": "com.runpod.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/account/secrets",
          "code": 200
        },
        "smithy.api#documentation": "Create a secret\n\nStores a new account-scoped encrypted string. `name` must be unique\nacross the account's secrets and is immutable; `value` is write-only\nand can never be read back through the API.\n\nUse the secret from pods, serverless endpoints, and templates by\nsetting an environment variable's value to\n`{{ RUNPOD_SECRET_<name> }}` — Runpod substitutes the stored value\nwhen the pod or worker boots.\n\nReturns `201` with the created secret's metadata, or `409` when the\nname is already taken."
      }
    },
    "com.runpod.api#GetSecretRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Secret identifier"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.runpod.api#GetSecret": {
      "type": "operation",
      "input": {
        "target": "com.runpod.api#GetSecretRequest"
      },
      "output": {
        "target": "com.runpod.api#Secret"
      },
      "errors": [
        {
          "target": "com.runpod.api#Forbidden"
        },
        {
          "target": "com.runpod.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/account/secrets/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Get a secret\n\nReturns a single secret's metadata by ID. The value is write-only and never returned."
      }
    },
    "com.runpod.api#UpdateSecretRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Secret identifier"
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "New secret value, replacing the current one. Write-only. Must be smaller than 16 MiB of UTF-8 text (strictly under 16,777,216 bytes)."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "New human-readable description, at most 65,535 bytes of UTF-8 text. Send `\"\"` to clear."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.runpod.api#UpdateSecret": {
      "type": "operation",
      "input": {
        "target": "com.runpod.api#UpdateSecretRequest"
      },
      "output": {
        "target": "com.runpod.api#Secret"
      },
      "errors": [
        {
          "target": "com.runpod.api#BadRequest"
        },
        {
          "target": "com.runpod.api#Forbidden"
        },
        {
          "target": "com.runpod.api#NotFound"
        },
        {
          "target": "com.runpod.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/v2/account/secrets/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Update a secret\n\nRotates a secret's value and/or updates its description. Only the\nprovided fields are changed and at least one field is required; the\n`name` is immutable.\n\nPods and workers receive the new value at their next boot — running\ninstances keep the value they were started with.\n\nWhen both fields are sent, the value is applied first, then the\ndescription. The two updates are not atomic: if the description\nupdate fails after the value was rotated, the response is an error\nbut the new value has already taken effect. Send the fields in\nseparate requests when that partial outcome matters."
      }
    },
    "com.runpod.api#DeleteSecretRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Secret identifier"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.runpod.api#DeleteSecret": {
      "type": "operation",
      "input": {
        "target": "com.runpod.api#DeleteSecretRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.runpod.api#Forbidden"
        },
        {
          "target": "com.runpod.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v2/account/secrets/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a secret\n\nPermanently deletes a secret. Environment variables referencing the\ndeleted secret's name will no longer resolve to a value."
      }
    },
    "com.runpod.api#ListPodsRequest": {
      "type": "structure",
      "members": {
        "includeClusterPods": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "includeClusterPods",
            "smithy.api#documentation": "Include cluster member pods in the result. Defaults to false."
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor",
            "smithy.api#documentation": "Opaque resume cursor — pass the previous response's `pagination.nextCursor` through verbatim; omit for the first page. A cursor is only valid for the operation and parameters that issued it; a malformed or foreign cursor is rejected with 422.\n"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Page size, 1–1000. Defaults to 1000 when omitted."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.runpod.api#Pod": {
      "type": "structure",
      "members": {
        "args": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The container's command, as a single raw string. This is the field `entrypoint` and `cmd` encode into, exposed in its stored form.\n\nTwo shapes are accepted. A bare shell string is treated as CMD and split into arguments, which is what the console's \"Container start command\" field writes. A JSON object of the form `{\"entrypoint\":[...],\"cmd\":[...]}` sets either or both explicitly.\n\nResponses always return both representations: `args` exactly as stored, plus the deconstructed `entrypoint` and `cmd`. Supplying `args` together with `entrypoint` or `cmd` is allowed only when they describe the same command, so a read-modify-write client can send back everything it received. Send `\"\"` to clear, omit to leave unchanged.\n",
            "smithy.api#required": {}
          }
        },
        "cmd": {
          "target": "com.runpod.api#PodCmdList",
          "traits": {
            "smithy.api#documentation": "Container CMD in exec form. When the image defines an ENTRYPOINT, this is the argument list passed to it. Encoded into the `args` field; supplying both is allowed only when they describe the same command. Send `[]` to clear, omit to leave unchanged.\n"
          }
        },
        "entrypoint": {
          "target": "com.runpod.api#PodEntrypointList",
          "traits": {
            "smithy.api#documentation": "Container ENTRYPOINT in exec form, overriding the image's own. Encoded into `args` field; supplying both is allowed only when they describe the same command. Send `[]` to clear, omit to leave unchanged.\n"
          }
        },
        "disk": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Container disk in GB (ephemeral, wiped on restart)",
            "smithy.api#required": {}
          }
        },
        "env": {
          "target": "com.runpod.api#PodEnvMap",
          "traits": {
            "smithy.api#documentation": "Environment variables as key-value pairs",
            "smithy.api#required": {}
          }
        },
        "image": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Docker image reference",
            "smithy.api#required": {}
          }
        },
        "ports": {
          "target": "com.runpod.api#PodPortsList",
          "traits": {
            "smithy.api#documentation": "Exposed ports, formatted as port/protocol",
            "smithy.api#required": {}
          }
        },
        "registry": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Container registry credential ID (for private images)",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.runpod.api#PodStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "actions": {
          "target": "com.runpod.api#PodActionsList",
          "traits": {
            "smithy.api#documentation": "Valid state transitions for the current status.",
            "smithy.api#required": {}
          }
        },
        "mounts": {
          "target": "com.runpod.api#Mounts",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "gpu": {
          "target": "com.runpod.api#GpuConfig",
          "traits": {
            "smithy.api#documentation": "Present for GPU pods; omitted from CPU pods."
          }
        },
        "cpu": {
          "target": "com.runpod.api#CpuConfig",
          "traits": {
            "smithy.api#documentation": "Present for CPU pods; omitted from GPU pods."
          }
        },
        "cloud": {
          "target": "com.runpod.api#Cloud",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "dataCenterId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Data center where the pod is running (assigned by scheduler)",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "cudaVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "CUDA version reported by the host machine. Retained while the pod is stopped — a stopped pod keeps its machine assignment and resumes onto the same host. Null means unknown or not applicable (CPU pods, or a host that has not reported one), not that CUDA is absent.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "ssh": {
          "target": "com.runpod.api#PodSsh",
          "traits": {
            "smithy.api#documentation": "SSH connection details, via the Runpod proxy or directly to the pod's published `22/tcp` port.",
            "smithy.api#required": {}
          }
        },
        "cluster": {
          "target": "com.runpod.api#PodCluster",
          "traits": {
            "smithy.api#documentation": "Cluster membership; omitted from a standalone pod. Member pods are managed through `/v2/clusters/{id}` — they are excluded from `GET /v2/pods` by default (pass `includeClusterPods=true` to include them) and cannot be modified or deleted via the pod endpoints."
          }
        },
        "template": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the template this pod was created from",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "cost": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Current cost in USD per hour (0.0 when EXITED or TERMINATED)",
            "smithy.api#required": {}
          }
        },
        "locked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the pod is locked (prevents stopping or resetting)",
            "smithy.api#required": {}
          }
        },
        "globalNetworking": {
          "target": "com.runpod.api#PodGlobalNetworking",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "runtime": {
          "target": "com.runpod.api#PodRuntime",
          "traits": {
            "smithy.api#documentation": "Live utilization metrics. Null when the pod is not RUNNING.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "startedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.runpod.api#PodCmdList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Container CMD in exec form. When the image defines an ENTRYPOINT, this is the argument list passed to it. Encoded into the `args` field; supplying both is allowed only when they describe the same command. Send `[]` to clear, omit to leave unchanged.\n"
      }
    },
    "com.runpod.api#PodEntrypointList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Container ENTRYPOINT in exec form, overriding the image's own. Encoded into `args` field; supplying both is allowed only when they describe the same command. Send `[]` to clear, omit to leave unchanged.\n"
      }
    },
    "com.runpod.api#PodEnvMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Environment variables as key-value pairs"
      }
    },
    "com.runpod.api#PodPortsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Exposed ports, formatted as port/protocol"
      }
    },
    "com.runpod.api#PodStatus": {
      "type": "enum",
      "members": {
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROVISIONING"
          }
        },
        "STARTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STARTING"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "EXITED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXITED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "TERMINATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TERMINATED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Lifecycle status of a pod.\n- `PROVISIONING` — pod is being allocated\n- `STARTING`     — container is starting\n- `RUNNING`      — container is healthy\n- `EXITED`       — container exited (stopped)\n- `ERROR`        — container is in an unrecoverable error state\n- `TERMINATED`   — pod has been permanently deleted\n"
      }
    },
    "com.runpod.api#PodAction": {
      "type": "enum",
      "members": {
        "START": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "start"
          }
        },
        "STOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stop"
          }
        },
        "RESTART": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "restart"
          }
        },
        "TERMINATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "terminate"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "State transition to trigger on a pod."
      }
    },
    "com.runpod.api#PodActionsList": {
      "type": "list",
      "member": {
        "target": "com.runpod.api#PodAction"
      },
      "traits": {
        "smithy.api#documentation": "Valid state transitions for the current status."
      }
    },
    "com.runpod.api#Mounts": {
      "type": "structure",
      "members": {
        "persistent": {
          "target": "com.runpod.api#PersistentMount"
        },
        "network": {
          "target": "com.runpod.api#MountsNetworkList"
        }
      },
      "traits": {
        "smithy.api#documentation": "Storage mounts attached to a pod. At-most-one of `persistent` or\n`network` may be set today (mutually exclusive, enforced at the\nhandler with 400 if both are present). The `network` field is an\narray for forward compatibility with eventual multi-network-volume\nsupport, but `maxItems` is 1 today.\n\nPATCH semantics:\n- Omitting `mounts` or sending `{}` leaves the existing mount\n  unchanged.\n- An explicit `network: []` is rejected with 400 (clearing mounts\n  is not supported).\n- Mount kind is fixed at create — a PATCH that introduces a kind\n  not present at create (persistent on a network pod, network on\n  a persistent pod, or any mount on a previously-mountless pod)\n  is rejected with 400.\n- The `volumeId` of a network mount is immutable; a PATCH that\n  names a different `volumeId` is rejected with 400.\n- Partial mounts are not supported — every mount entry must\n  include the full schema (`size` + `path` for persistent,\n  `volumeId` + `path` for network). Missing required fields → 422.\n"
      }
    },
    "com.runpod.api#PersistentMount": {
      "type": "structure",
      "members": {
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Host-local persistent storage in GB. Upstream enforces a 10 GB floor.",
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Mount path inside the container. May be changed via PATCH.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Host-local persistent storage. Pinned to the pod's host machine — data\ndoes not survive a host failure. Disallowed on CPU pods. Mutually\nexclusive with NetworkMount. Deprecated: prefer NetworkMount for any\ndata you cannot recreate.\n"
      }
    },
    "com.runpod.api#NetworkMount": {
      "type": "structure",
      "members": {
        "volumeId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of an existing NetworkVolume in the same data center as the pod.",
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Mount path inside the container. No default — must be specified explicitly.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Reference to a NetworkVolume. Custom paths are honored at runtime on\nboth GPU and CPU pods. The underlying `volumeId` is immutable\npost-create; the mount `path` may be changed via PATCH.\n"
      }
    },
    "com.runpod.api#MountsNetworkList": {
      "type": "list",
      "member": {
        "target": "com.runpod.api#NetworkMount"
      },
      "traits": {}
    },
    "com.runpod.api#GpuConfig": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GPU type identifier",
            "smithy.api#required": {}
          }
        },
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of GPUs"
          }
        },
        "vcpuCount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total vCPU count allocated to the pod across all requested GPUs.",
            "smithy.api#required": {}
          }
        },
        "memory": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total system RAM in GB allocated to the pod across all requested GPUs.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.runpod.api#CpuConfig": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "CPU flavor identifier, as returned by GET /v2/catalog/cpus.",
            "smithy.api#required": {}
          }
        },
        "vcpuCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of vCPUs. Must be valid for the selected CPU flavor and must be a power of two.",
            "smithy.api#required": {}
          }
        },
        "memory": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Memory allocated to the pod in GB.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.runpod.api#Cloud": {
      "type": "enum",
      "members": {
        "SECURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURE"
          }
        },
        "COMMUNITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMUNITY"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Cloud tier.\n- `SECURE`    — Runpod-owned datacenter hardware\n- `COMMUNITY` — community-hosted hardware\n"
      }
    },
    "com.runpod.api#PodSsh": {
      "type": "structure",
      "members": {
        "proxy": {
          "target": "com.runpod.api#PodSshEndpoint",
          "traits": {
            "smithy.api#documentation": "Connection through Runpod's SSH proxy. Works without exposing a port and without a public IP, but carries an interactive shell only — SCP, SFTP, rsync, and port forwarding need `direct`. Null until the pod has a machine assignment.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "direct": {
          "target": "com.runpod.api#PodSshEndpoint",
          "traits": {
            "smithy.api#documentation": "Connection straight to the pod's sshd over its published `22/tcp` mapping. Supports the full SSH feature set. Null unless `22/tcp` is in `ports` and the running pod has been assigned a public port for it — so it is absent while the pod is provisioning or stopped.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "How to connect to this pod over SSH. Both variants authenticate with the account's registered SSH public keys (`PUT /v2/account/ssh-keys`), which reach the pod only if it was created with `startSsh` — a pod created without it has no SSH access regardless of what this block reports."
      }
    },
    "com.runpod.api#PodSshEndpoint": {
      "type": "structure",
      "members": {
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hostname or IP to connect to.",
            "smithy.api#required": {}
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "TCP port to connect to.",
            "smithy.api#required": {}
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SSH username. For the proxy this is an opaque routing token, not a user account on the pod.",
            "smithy.api#required": {}
          }
        },
        "command": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The equivalent `ssh` invocation, ready to run. Add `-i <path>` if the matching private key is not one of your default identities, and `-o StrictHostKeyChecking=no` to skip the host-key prompt on short-lived pods.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One way to reach the pod over SSH, as both its parts and a ready-to-run invocation."
      }
    },
    "com.runpod.api#PodCluster": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the cluster this pod belongs to.",
            "smithy.api#required": {}
          }
        },
        "rank": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The pod's node rank within the cluster (NODE_RANK), or null until the index is assigned during provisioning. Rank 0 is the cluster's entry node (`Cluster.primary`); for SLURM it is the controller.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "role": {
          "target": "com.runpod.api#PodClusterRole",
          "traits": {
            "smithy.api#documentation": "SLURM or RAY role; omitted for TRAINING/APPLICATION clusters, which do not assign roles."
          }
        },
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The pod's address on the cluster's private overlay network; omitted until the address is assigned."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A pod's membership in a cluster."
      }
    },
    "com.runpod.api#PodClusterRole": {
      "type": "enum",
      "members": {
        "SLURM_CONTROLLER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SLURM_CONTROLLER"
          }
        },
        "SLURM_COMPUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SLURM_COMPUTE"
          }
        },
        "RAY_HEAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RAY_HEAD"
          }
        },
        "RAY_WORKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RAY_WORKER"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A cluster member's role. Assigned for SLURM and RAY clusters; omitted for TRAINING/APPLICATION members."
      }
    },
    "com.runpod.api#PodGlobalNetworking": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether global networking is enabled, giving the pod a private IP reachable across data centers. Derived from whether the pod has an assigned global-network address.",
            "smithy.api#required": {}
          }
        },
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The pod's assigned global-networking IP. Present only when enabled."
          }
        },
        "internalDns": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Internal DNS name (`<podId>.runpod.internal`), reachable from other globally-networked pods in the same account. Present only when enabled."
          }
        }
      },
      "traits": {}
    },
    "com.runpod.api#PodRuntime": {
      "type": "structure",
      "members": {
        "uptime": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Seconds since the container started"
          }
        },
        "gpus": {
          "target": "com.runpod.api#PodRuntimeGpusList"
        },
        "cpu": {
          "target": "com.runpod.api#Utilization"
        },
        "memory": {
          "target": "com.runpod.api#Utilization"
        },
        "ports": {
          "target": "com.runpod.api#PodRuntimePortsList"
        }
      },
      "traits": {
        "smithy.api#documentation": "Live utilization metrics for a running pod."
      }
    },
    "com.runpod.api#PodGpuUtilization": {
      "type": "structure",
      "members": {
        "util": {
          "target": "smithy.api#Integer"
        },
        "memoryUtil": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {
        "smithy.api#documentation": "Per-GPU utilization metrics."
      }
    },
    "com.runpod.api#PodRuntimeGpusList": {
      "type": "list",
      "member": {
        "target": "com.runpod.api#PodGpuUtilization"
      },
      "traits": {}
    },
    "com.runpod.api#Utilization": {
      "type": "structure",
      "members": {
        "util": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {
        "smithy.api#documentation": "Single-value utilization percentage (0–100). Shared by `cpu` and `memory`."
      }
    },
    "com.runpod.api#PodRuntimePort": {
      "type": "structure",
      "members": {
        "private": {
          "target": "smithy.api#Integer"
        },
        "public": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        },
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Live port mapping for a running pod."
      }
    },
    "com.runpod.api#PodRuntimePortsList": {
      "type": "list",
      "member": {
        "target": "com.runpod.api#PodRuntimePort"
      },
      "traits": {}
    },
    "com.runpod.api#ListPodsResponsePodsList": {
      "type": "list",
      "member": {
        "target": "com.runpod.api#Pod"
      },
      "traits": {}
    },
    "com.runpod.api#Pagination": {
      "type": "structure",
      "members": {
        "nextCursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pass as the `cursor` query parameter to fetch the next page. Null on the last page.\n",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "hasNextPage": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether more items exist after this page.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Cursor-pagination metadata, uniform across list endpoints. Every response carries it: follow `nextCursor` while `hasNextPage` is true to walk the full result set.\n"
      }
    },
    "com.runpod.api#ListPodsResponse": {
      "type": "structure",
      "members": {
        "pods": {
          "target": "com.runpod.api#ListPodsResponsePodsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pagination": {
          "target": "com.runpod.api#Pagination",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.runpod.api#ListPods": {
      "type": "operation",
      "input": {
        "target": "com.runpod.api#ListPodsRequest"
      },
      "output": {
        "target": "com.runpod.api#ListPodsResponse"
      },
      "errors": [
        {
          "target": "com.runpod.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/pods",
          "code": 200
        },
        "smithy.api#documentation": "List pods\n\nReturns pods owned by the authenticated user. Cluster member\npods are excluded by default; set `includeClusterPods=true` to include\nthem (each carries a non-null `cluster` membership block).\n\nResults are cursor-paginated newest-first; an omitted `limit`\ndefaults to 1000. When cluster member pods are excluded, the\nexclusion applies to each page after it is cut, so a page may hold\nfewer than `limit` pods — follow `pagination.nextCursor` until\n`hasNextPage` is false rather than counting items.",
        "smithy.api#paginated": {
          "mode": "cursor",
          "inputToken": "cursor",
          "outputToken": "pagination.nextCursor",
          "items": "pods"
        }
      }
    },
    "com.runpod.api#CreatePodRequestCmdList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Container CMD in exec form. When the image defines an ENTRYPOINT, this is the argument list passed to it. Encoded into the `args` field; supplying both is allowed only when they describe the same command. Send `[]` to clear, omit to leave unchanged.\n"
      }
    },
    "com.runpod.api#CreatePodRequestEntrypointList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Container ENTRYPOINT in exec form, overriding the image's own. Encoded into `args` field; supplying both is allowed only when they describe the same command. Send `[]` to clear, omit to leave unchanged.\n"
      }
    },
    "com.runpod.api#CreatePodRequestEnvMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Environment variables as key-value pairs"
      }
    },
    "com.runpod.api#CreatePodRequestPortsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Exposed ports, formatted as port/protocol"
      }
    },
    "com.runpod.api#BaseCpuConfig": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "CPU flavor identifier, as returned by GET /v2/catalog/cpus.",
            "smithy.api#required": {}
          }
        },
        "vcpuCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of vCPUs. Must be valid for the selected CPU flavor and must be a power of two.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.runpod.api#CreatePodRequestDataCenterIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Preferred data centers for placement. Omit or pass an empty\narray to let the scheduler choose.\n"
      }
    },
    "com.runpod.api#CreateGpuConfig": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GPU type identifier",
            "smithy.api#required": {}
          }
        },
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of GPUs"
          }
        },
        "allowedCudaVersions": {
          "target": "com.runpod.api#CreateGpuConfigAllowedCudaVersionsList",
          "traits": {
            "smithy.api#documentation": "Acceptable CUDA versions for the host machine, as `major.minor`.\nOmit to accept any version. Matching is exact, so a version no\nmachine reports yields a capacity error rather than a fallback —\ndiscover valid values per GPU type via\n`GET /v2/catalog/gpus?include=AVAILABILITY&product=POD`\n(`cudaVersions`).\n\nA non-empty set is mutually exclusive with minCudaVersion (400\nif both are sent). An explicit `[]` states no constraint, so it\nmay accompany a floor.\n"
          }
        },
        "minCudaVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Lowest acceptable CUDA version for the host machine, as\n`major.minor`, compared numerically rather than as a decimal —\nso 12.11 is above 12.2. Use this for an open-ended floor and\nallowedCudaVersions for an exact set.\n\nMutually exclusive with a non-empty allowedCudaVersions (400 if\nboth are sent); an explicit `[]` there states no constraint and\nmay accompany this floor.\n"
          }
        },
        "minRamPerGpu": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minimum host system RAM in GB per requested GPU. This is a placement filter, not a resource request. The actual total allocated system RAM may be higher and is returned in gpu.memory."
          }
        },
        "minVcpuCountPerGpu": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minimum host vCPU count per requested GPU. This is a placement filter, not a resource request. The actual total allocated vCPU count may be higher and is returned in gpu.vcpuCount."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "GPU request for a pod create. Carries the CUDA host constraints, which\nlive here rather than at the body's top level so they are\nunrepresentable on a CPU pod.\n"
      }
    },
    "com.runpod.api#CreateGpuConfigAllowedCudaVersionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Acceptable CUDA versions for the host machine, as `major.minor`.\nOmit to accept any version. Matching is exact, so a version no\nmachine reports yields a capacity error rather than a fallback —\ndiscover valid values per GPU type via\n`GET /v2/catalog/gpus?include=AVAILABILITY&product=POD`\n(`cudaVersions`).\n\nA non-empty set is mutually exclusive with minCudaVersion (400\nif both are sent). An explicit `[]` states no constraint, so it\nmay accompany a floor.\n"
      }
    },
    "com.runpod.api#CreatePodRequest": {
      "type": "structure",
      "members": {
        "args": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The container's command, as a single raw string. This is the field `entrypoint` and `cmd` encode into, exposed in its stored form.\n\nTwo shapes are accepted. A bare shell string is treated as CMD and split into arguments, which is what the console's \"Container start command\" field writes. A JSON object of the form `{\"entrypoint\":[...],\"cmd\":[...]}` sets either or both explicitly.\n\nResponses always return both representations: `args` exactly as stored, plus the deconstructed `entrypoint` and `cmd`. Supplying `args` together with `entrypoint` or `cmd` is allowed only when they describe the same command, so a read-modify-write client can send back everything it received. Send `\"\"` to clear, omit to leave unchanged.\n"
          }
        },
        "cmd": {
          "target": "com.runpod.api#CreatePodRequestCmdList",
          "traits": {
            "smithy.api#documentation": "Container CMD in exec form. When the image defines an ENTRYPOINT, this is the argument list passed to it. Encoded into the `args` field; supplying both is allowed only when they describe the same command. Send `[]` to clear, omit to leave unchanged.\n"
          }
        },
        "entrypoint": {
          "target": "com.runpod.api#CreatePodRequestEntrypointList",
          "traits": {
            "smithy.api#documentation": "Container ENTRYPOINT in exec form, overriding the image's own. Encoded into `args` field; supplying both is allowed only when they describe the same command. Send `[]` to clear, omit to leave unchanged.\n"
          }
        },
        "disk": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Container disk in GB (ephemeral, wiped on restart)"
          }
        },
        "env": {
          "target": "com.runpod.api#CreatePodRequestEnvMap",
          "traits": {
            "smithy.api#documentation": "Environment variables as key-value pairs"
          }
        },
        "image": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Docker image reference"
          }
        },
        "ports": {
          "target": "com.runpod.api#CreatePodRequestPortsList",
          "traits": {
            "smithy.api#documentation": "Exposed ports, formatted as port/protocol"
          }
        },
        "registry": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Container registry credential ID (for private images)",
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "cloud": {
          "target": "com.runpod.api#Cloud",
          "traits": {
            "smithy.api#documentation": "Cloud tier. Defaults to `SECURE` when omitted."
          }
        },
        "cpu": {
          "target": "com.runpod.api#BaseCpuConfig"
        },
        "dataCenterIds": {
          "target": "com.runpod.api#CreatePodRequestDataCenterIdsList",
          "traits": {
            "smithy.api#documentation": "Preferred data centers for placement. Omit or pass an empty\narray to let the scheduler choose.\n"
          }
        },
        "globalNetworking": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable global networking, giving the pod a private IP reachable across data centers. Requires an NVIDIA GPU and a global-networking-enabled data center (both enforced upstream). See `GET /v2/catalog/datacenters` (`globalNetwork`) for eligible data centers."
          }
        },
        "gpu": {
          "target": "com.runpod.api#CreateGpuConfig"
        },
        "mounts": {
          "target": "com.runpod.api#Mounts"
        },
        "startJupyter": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Create-time flag telling the provisioner to start JupyterLab:\ninjects a generated `JUPYTER_PASSWORD` environment variable,\nunless the request already sets one. Only images that honor\nthe convention start Jupyter from it (Runpod official images\ndo); expose `8888/http` in `ports` to reach it.\n\nNot part of the pod's readable config — never returned by\nGET and not changeable by PATCH.\n"
          }
        },
        "startSsh": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Create-time flag telling the provisioner to set up SSH\naccess: injects a `PUBLIC_KEY` environment variable carrying\nyour account's registered SSH public keys, unless the request\nalready sets one. **Requires registered keys** (`PUT\n/v2/account/ssh-keys`) — with none registered the flag does\nnothing and the pod has no SSH access. Only images that honor\nthe convention start sshd from it (all Runpod official images\ndo). Connect using the pod's `ssh` block; the `ssh.direct`\nvariant additionally needs a `22/tcp` entry in `ports`.\n\nNot part of the pod's readable config — never returned by\nGET and not changeable by PATCH.\n"
          }
        },
        "templateId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of a pod template to base this pod on. The template is\nresolved at create time into the same container settings you\ncould otherwise spread into this body (image, args, disk,\nports, env, registry, persistent mount, startSsh,\nstartJupyter, allowedCudaVersions); explicit body fields\noverride the template's, except `env`, which is merged per\nkey with body values winning. Sending either CUDA field\n(`gpu.allowedCudaVersions` or `gpu.minCudaVersion`) replaces\nthe template's CUDA constraint entirely, and CPU pods ignore\nit (like the persistent mount). The template is a one-time\nsource of settings: later template edits do not affect the\npod, and the created pod does not retain a link to the\ntemplate (`template` stays null). The template may be one\nof your own or a public catalog template — see\n`GET /v2/catalog/templates` (unknown or inaccessible ID →\n404) — and must not be a serverless template (→ 422). CPU\npods do not inherit a template's persistent mount.\n"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.runpod.api#CreatePodResponseCmdList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Container CMD in exec form. When the image defines an ENTRYPOINT, this is the argument list passed to it. Encoded into the `args` field; supplying both is allowed only when they describe the same command. Send `[]` to clear, omit to leave unchanged.\n"
      }
    },
    "com.runpod.api#CreatePodResponseEntrypointList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Container ENTRYPOINT in exec form, overriding the image's own. Encoded into `args` field; supplying both is allowed only when they describe the same command. Send `[]` to clear, omit to leave unchanged.\n"
      }
    },
    "com.runpod.api#CreatePodResponseEnvMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Environment variables as key-value pairs"
      }
    },
    "com.runpod.api#CreatePodResponsePortsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Exposed ports, formatted as port/protocol"
      }
    },
    "com.runpod.api#CreatePodResponseActionsList": {
      "type": "list",
      "member": {
        "target": "com.runpod.api#PodAction"
      },
      "traits": {
        "smithy.api#documentation": "Valid state transitions for the current status."
      }
    },
    "com.runpod.api#CreatePodResponse": {
      "type": "structure",
      "members": {
        "args": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The container's command, as a single raw string. This is the field `entrypoint` and `cmd` encode into, exposed in its stored form.\n\nTwo shapes are accepted. A bare shell string is treated as CMD and split into arguments, which is what the console's \"Container start command\" field writes. A JSON object of the form `{\"entrypoint\":[...],\"cmd\":[...]}` sets either or both explicitly.\n\nResponses always return both representations: `args` exactly as stored, plus the deconstructed `entrypoint` and `cmd`. Supplying `args` together with `entrypoint` or `cmd` is allowed only when they describe the same command, so a read-modify-write client can send back everything it received. Send `\"\"` to clear, omit to leave unchanged.\n",
            "smithy.api#required": {}
          }
        },
        "cmd": {
          "target": "com.runpod.api#CreatePodResponseCmdList",
          "traits": {
            "smithy.api#documentation": "Container CMD in exec form. When the image defines an ENTRYPOINT, this is the argument list passed to it. Encoded into the `args` field; supplying both is allowed only when they describe the same command. Send `[]` to clear, omit to leave unchanged.\n"
          }
        },
        "entrypoint": {
          "target": "com.runpod.api#CreatePodResponseEntrypointList",
          "traits": {
            "smithy.api#documentation": "Container ENTRYPOINT in exec form, overriding the image's own. Encoded into `args` field; supplying both is allowed only when they describe the same command. Send `[]` to clear, omit to leave unchanged.\n"
          }
        },
        "disk": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Container disk in GB (ephemeral, wiped on restart)",
            "smithy.api#required": {}
          }
        },
        "env": {
          "target": "com.runpod.api#CreatePodResponseEnvMap",
          "traits": {
            "smithy.api#documentation": "Environment variables as key-value pairs",
            "smithy.api#required": {}
          }
        },
        "image": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Docker image reference",
            "smithy.api#required": {}
          }
        },
        "ports": {
          "target": "com.runpod.api#CreatePodResponsePortsList",
          "traits": {
            "smithy.api#documentation": "Exposed ports, formatted as port/protocol",
            "smithy.api#required": {}
          }
        },
        "registry": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Container registry credential ID (for private images)",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.runpod.api#PodStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "actions": {
          "target": "com.runpod.api#CreatePodResponseActionsList",
          "traits": {
            "smithy.api#documentation": "Valid state transitions for the current status.",
            "smithy.api#required": {}
          }
        },
        "mounts": {
          "target": "com.runpod.api#Mounts",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "gpu": {
          "target": "com.runpod.api#GpuConfig",
          "traits": {
            "smithy.api#documentation": "Present for GPU pods; omitted from CPU pods."
          }
        },
        "cpu": {
          "target": "com.runpod.api#CpuConfig",
          "traits": {
            "smithy.api#documentation": "Present for CPU pods; omitted from GPU pods."
          }
        },
        "cloud": {
          "target": "com.runpod.api#Cloud",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "dataCenterId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Data center where the pod is running (assigned by scheduler)",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "cudaVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "CUDA version reported by the host machine. Retained while the pod is stopped — a stopped pod keeps its machine assignment and resumes onto the same host. Null means unknown or not applicable (CPU pods, or a host that has not reported one), not that CUDA is absent.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "ssh": {
          "target": "com.runpod.api#PodSsh",
          "traits": {
            "smithy.api#documentation": "SSH connection details, via the Runpod proxy or directly to the pod's published `22/tcp` port.",
            "smithy.api#required": {}
          }
        },
        "cluster": {
          "target": "com.runpod.api#PodCluster",
          "traits": {
            "smithy.api#documentation": "Cluster membership; omitted from a standalone pod. Member pods are managed through `/v2/clusters/{id}` — they are excluded from `GET /v2/pods` by default (pass `includeClusterPods=true` to include them) and cannot be modified or deleted via the pod endpoints."
          }
        },
        "template": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the template this pod was created from",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "cost": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Current cost in USD per hour (0.0 when EXITED or TERMINATED)",
            "smithy.api#required": {}
          }
        },
        "locked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the pod is locked (prevents stopping or resetting)",
            "smithy.api#required": {}
          }
        },
        "globalNetworking": {
          "target": "com.runpod.api#PodGlobalNetworking",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "runtime": {
          "target": "com.runpod.api#PodRuntime",
          "traits": {
            "smithy.api#documentation": "Live utilization metrics. Null when the pod is not RUNNING.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "startedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.runpod.api#CreatePod": {
      "type": "operation",
      "input": {
        "target": "com.runpod.api#CreatePodRequest"
      },
      "output": {
        "target": "com.runpod.api#CreatePodResponse"
      },
      "errors": [
        {
          "target": "com.runpod.api#BadRequest"
        },
        {
          "target": "com.runpod.api#Forbidden"
        },
        {
          "target": "com.runpod.api#NotFound"
        },
        {
          "target": "com.runpod.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/pods",
          "code": 200
        },
        "smithy.api#documentation": "Create a pod\n\nCreates a new pod. `name` is always required; supply exactly one of\n`gpu` or `cpu` to select compute (a GPU or a CPU pod). Container\nsettings come from the body, from a template referenced by\n`templateId` (body fields override the template's), or both; `image`\nis required unless `templateId` is set. See `CreatePodRequest` for\nthe full body.\n\nReturns `201` with the created pod. Provisioning is asynchronous: the\npod starts in `PROVISIONING`, transitions through `STARTING`, and\nreaches `RUNNING` once its container is healthy. Poll `getPod` (or\nwatch the pod's `status`) to observe readiness rather than assuming\nthe pod is running when this call returns.\n\n## Checking what you can deploy\n\nThis endpoint places one specific GPU type. It does not search for\ncapacity, and it does not fall back to a different GPU. To find out\nwhat is deployable before you call it, read the catalog:\n\n- [List GPU types](https://docs.runpod.io/api-reference-v2/catalog/list-gpu-types)\n  — GPU types with pricing, per-cloud ceilings, and, with\n  `include=AVAILABILITY&product=POD`, current pod stock.\n- [List data centers](https://docs.runpod.io/api-reference-v2/catalog/list-data-centers)\n  — locations, with `include=GPU_AVAILABILITY` for stock per data\n  center.\n\nBoth accept filters that combine, so you can narrow by location and by\ncompute in one request — for example\n`GET /v2/catalog/datacenters?regions=EUROPE&include=GPU_AVAILABILITY`\nreturns only European data centers, each carrying the GPU types\ncurrently available there.\n\n## Deploying under region and GPU constraints\n\nIf you need a particular GPU in a particular geography, the working\npattern is read-then-create: narrow the catalog to an acceptable\n(data center, GPU) set, then call this endpoint once per candidate in\nyour order of preference until one returns `201`. The runnable sample\nalongside this operation does exactly that.\n\nAvailability can change between the catalog read and the create call,\nso treat the catalog as a way to order your candidates, not as a\nreservation — a create can still fail for capacity on a GPU the\ncatalog just reported as available.\n\nWhich failures are worth retrying:\n\n\nRequests larger than 102400 bytes receive `413` before authentication\nor processing. Reduce the serialized JSON request body and retry.\n\nThis limit also applies to the deployment request built from your input\nand any referenced template. A small request can therefore receive `413`\nif inherited template settings make the combined request too large.\nReduce environment variables or command values in your request or template\nand retry.\n\n`400` covers both \"your request breaks a rule\" and \"no capacity\",\nbecause capacity exhaustion currently carries no machine-readable code\nof its own — only a human-readable `detail`. A rule violation is\ndeterministic, so it fails identically on every candidate: if *every*\ncandidate returns `400`, read the last `detail` as a problem with the\nrequest rather than as absent capacity."
      }
    },
    "com.runpod.api#GetPodRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Pod identifier"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.runpod.api#GetPodResponseCmdList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Container CMD in exec form. When the image defines an ENTRYPOINT, this is the argument list passed to it. Encoded into the `args` field; supplying both is allowed only when they describe the same command. Send `[]` to clear, omit to leave unchanged.\n"
      }
    },
    "com.runpod.api#GetPodResponseEntrypointList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Container ENTRYPOINT in exec form, overriding the image's own. Encoded into `args` field; supplying both is allowed only when they describe the same command. Send `[]` to clear, omit to leave unchanged.\n"
      }
    },
    "com.runpod.api#GetPodResponseEnvMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Environment variables as key-value pairs"
      }
    },
    "com.runpod.api#GetPodResponsePortsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Exposed ports, formatted as port/protocol"
      }
    },
    "com.runpod.api#GetPodResponseActionsList": {
      "type": "list",
      "member": {
        "target": "com.runpod.api#PodAction"
      },
      "traits": {
        "smithy.api#documentation": "Valid state transitions for the current status."
      }
    },
    "com.runpod.api#GetPodResponse": {
      "type": "structure",
      "members": {
        "args": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The container's command, as a single raw string. This is the field `entrypoint` and `cmd` encode into, exposed in its stored form.\n\nTwo shapes are accepted. A bare shell string is treated as CMD and split into arguments, which is what the console's \"Container start command\" field writes. A JSON object of the form `{\"entrypoint\":[...],\"cmd\":[...]}` sets either or both explicitly.\n\nResponses always return both representations: `args` exactly as stored, plus the deconstructed `entrypoint` and `cmd`. Supplying `args` together with `entrypoint` or `cmd` is allowed only when they describe the same command, so a read-modify-write client can send back everything it received. Send `\"\"` to clear, omit to leave unchanged.\n",
            "smithy.api#required": {}
          }
        },
        "cmd": {
          "target": "com.runpod.api#GetPodResponseCmdList",
          "traits": {
            "smithy.api#documentation": "Container CMD in exec form. When the image defines an ENTRYPOINT, this is the argument list passed to it. Encoded into the `args` field; supplying both is allowed only when they describe the same command. Send `[]` to clear, omit to leave unchanged.\n"
          }
        },
        "entrypoint": {
          "target": "com.runpod.api#GetPodResponseEntrypointList",
          "traits": {
            "smithy.api#documentation": "Container ENTRYPOINT in exec form, overriding the image's own. Encoded into `args` field; supplying both is allowed only when they describe the same command. Send `[]` to clear, omit to leave unchanged.\n"
          }
        },
        "disk": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Container disk in GB (ephemeral, wiped on restart)",
            "smithy.api#required": {}
          }
        },
        "env": {
          "target": "com.runpod.api#GetPodResponseEnvMap",
          "traits": {
            "smithy.api#documentation": "Environment variables as key-value pairs",
            "smithy.api#required": {}
          }
        },
        "image": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Docker image reference",
            "smithy.api#required": {}
          }
        },
        "ports": {
          "target": "com.runpod.api#GetPodResponsePortsList",
          "traits": {
            "smithy.api#documentation": "Exposed ports, formatted as port/protocol",
            "smithy.api#required": {}
          }
        },
        "registry": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Container registry credential ID (for private images)",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.runpod.api#PodStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "actions": {
          "target": "com.runpod.api#GetPodResponseActionsList",
          "traits": {
            "smithy.api#documentation": "Valid state transitions for the current status.",
            "smithy.api#required": {}
          }
        },
        "mounts": {
          "target": "com.runpod.api#Mounts",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "gpu": {
          "target": "com.runpod.api#GpuConfig",
          "traits": {
            "smithy.api#documentation": "Present for GPU pods; omitted from CPU pods."
          }
        },
        "cpu": {
          "target": "com.runpod.api#CpuConfig",
          "traits": {
            "smithy.api#documentation": "Present for CPU pods; omitted from GPU pods."
          }
        },
        "cloud": {
          "target": "com.runpod.api#Cloud",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "dataCenterId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Data center where the pod is running (assigned by scheduler)",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "cudaVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "CUDA version reported by the host machine. Retained while the pod is stopped — a stopped pod keeps its machine assignment and resumes onto the same host. Null means unknown or not applicable (CPU pods, or a host that has not reported one), not that CUDA is absent.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "ssh": {
          "target": "com.runpod.api#PodSsh",
          "traits": {
            "smithy.api#documentation": "SSH connection details, via the Runpod proxy or directly to the pod's published `22/tcp` port.",
            "smithy.api#required": {}
          }
        },
        "cluster": {
          "target": "com.runpod.api#PodCluster",
          "traits": {
            "smithy.api#documentation": "Cluster membership; omitted from a standalone pod. Member pods are managed through `/v2/clusters/{id}` — they are excluded from `GET /v2/pods` by default (pass `includeClusterPods=true` to include them) and cannot be modified or deleted via the pod endpoints."
          }
        },
        "template": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the template this pod was created from",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "cost": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Current cost in USD per hour (0.0 when EXITED or TERMINATED)",
            "smithy.api#required": {}
          }
        },
        "locked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the pod is locked (prevents stopping or resetting)",
            "smithy.api#required": {}
          }
        },
        "globalNetworking": {
          "target": "com.runpod.api#PodGlobalNetworking",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "runtime": {
          "target": "com.runpod.api#PodRuntime",
          "traits": {
            "smithy.api#documentation": "Live utilization metrics. Null when the pod is not RUNNING.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "startedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.runpod.api#GetPod": {
      "type": "operation",
      "input": {
        "target": "com.runpod.api#GetPodRequest"
      },
      "output": {
        "target": "com.runpod.api#GetPodResponse"
      },
      "errors": [
        {
          "target": "com.runpod.api#Forbidden"
        },
        {
          "target": "com.runpod.api#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/pods/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Get a pod\n\nReturns a single pod by ID."
      }
    },
    "com.runpod.api#UpdatePodRequestCmdList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Container CMD in exec form. When the image defines an ENTRYPOINT, this is the argument list passed to it. Encoded into the `args` field; supplying both is allowed only when they describe the same command. Send `[]` to clear, omit to leave unchanged.\n"
      }
    },
    "com.runpod.api#UpdatePodRequestEntrypointList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Container ENTRYPOINT in exec form, overriding the image's own. Encoded into `args` field; supplying both is allowed only when they describe the same command. Send `[]` to clear, omit to leave unchanged.\n"
      }
    },
    "com.runpod.api#UpdatePodRequestEnvMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Environment variables as key-value pairs"
      }
    },
    "com.runpod.api#UpdatePodRequestPortsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Exposed ports, formatted as port/protocol"
      }
    },
    "com.runpod.api#UpdatePodRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Pod identifier"
          }
        },
        "args": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The container's command, as a single raw string. This is the field `entrypoint` and `cmd` encode into, exposed in its stored form.\n\nTwo shapes are accepted. A bare shell string is treated as CMD and split into arguments, which is what the console's \"Container start command\" field writes. A JSON object of the form `{\"entrypoint\":[...],\"cmd\":[...]}` sets either or both explicitly.\n\nResponses always return both representations: `args` exactly as stored, plus the deconstructed `entrypoint` and `cmd`. Supplying `args` together with `entrypoint` or `cmd` is allowed only when they describe the same command, so a read-modify-write client can send back everything it received. Send `\"\"` to clear, omit to leave unchanged.\n"
          }
        },
        "cmd": {
          "target": "com.runpod.api#UpdatePodRequestCmdList",
          "traits": {
            "smithy.api#documentation": "Container CMD in exec form. When the image defines an ENTRYPOINT, this is the argument list passed to it. Encoded into the `args` field; supplying both is allowed only when they describe the same command. Send `[]` to clear, omit to leave unchanged.\n"
          }
        },
        "entrypoint": {
          "target": "com.runpod.api#UpdatePodRequestEntrypointList",
          "traits": {
            "smithy.api#documentation": "Container ENTRYPOINT in exec form, overriding the image's own. Encoded into `args` field; supplying both is allowed only when they describe the same command. Send `[]` to clear, omit to leave unchanged.\n"
          }
        },
        "disk": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Container disk in GB (ephemeral, wiped on restart)"
          }
        },
        "env": {
          "target": "com.runpod.api#UpdatePodRequestEnvMap",
          "traits": {
            "smithy.api#documentation": "Environment variables as key-value pairs"
          }
        },
        "image": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Docker image reference"
          }
        },
        "ports": {
          "target": "com.runpod.api#UpdatePodRequestPortsList",
          "traits": {
            "smithy.api#documentation": "Exposed ports, formatted as port/protocol"
          }
        },
        "registry": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Container registry credential ID (for private images)",
            "com.distilled.openapi#nullable": {}
          }
        },
        "globalNetworking": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable (true) or disable (false) global networking. Takes effect on the next pod start/restart, not live. Requires an NVIDIA GPU and a global-networking-enabled data center (both enforced upstream). See `GET /v2/catalog/datacenters` (`globalNetwork`) for eligible data centers."
          }
        },
        "locked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Lock the pod (true) or unlock it (false). Locked pods cannot be stopped or reset."
          }
        },
        "mounts": {
          "target": "com.runpod.api#Mounts"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "templateId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of a pod template whose container settings are applied as\nif they were provided in this PATCH body (image, args, disk,\nports, env, registry — mounts are not applied on update).\nExplicit body fields override the template's; `env` merges\ntemplate and body per key (body wins) and, per PATCH\nsemantics, replaces the pod's env. One-time application —\nno link to the template is retained. Must be one of your\ntemplates or a public template (unknown or inaccessible ID\n→ 404); must not be a serverless template (→ 422).\n"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.runpod.api#UpdatePodResponseCmdList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Container CMD in exec form. When the image defines an ENTRYPOINT, this is the argument list passed to it. Encoded into the `args` field; supplying both is allowed only when they describe the same command. Send `[]` to clear, omit to leave unchanged.\n"
      }
    },
    "com.runpod.api#UpdatePodResponseEntrypointList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Container ENTRYPOINT in exec form, overriding the image's own. Encoded into `args` field; supplying both is allowed only when they describe the same command. Send `[]` to clear, omit to leave unchanged.\n"
      }
    },
    "com.runpod.api#UpdatePodResponseEnvMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Environment variables as key-value pairs"
      }
    },
    "com.runpod.api#UpdatePodResponsePortsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Exposed ports, formatted as port/protocol"
      }
    },
    "com.runpod.api#UpdatePodResponseActionsList": {
      "type": "list",
      "member": {
        "target": "com.runpod.api#PodAction"
      },
      "traits": {
        "smithy.api#documentation": "Valid state transitions for the current status."
      }
    },
    "com.runpod.api#UpdatePodResponse": {
      "type": "structure",
      "members": {
        "args": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The container's command, as a single raw string. This is the field `entrypoint` and `cmd` encode into, exposed in its stored form.\n\nTwo shapes are accepted. A bare shell string is treated as CMD and split into arguments, which is what the console's \"Container start command\" field writes. A JSON object of the form `{\"entrypoint\":[...],\"cmd\":[...]}` sets either or both explicitly.\n\nResponses always return both representations: `args` exactly as stored, plus the deconstructed `entrypoint` and `cmd`. Supplying `args` together with `entrypoint` or `cmd` is allowed only when they describe the same command, so a read-modify-write client can send back everything it received. Send `\"\"` to clear, omit to leave unchanged.\n",
            "smithy.api#required": {}
          }
        },
        "cmd": {
          "target": "com.runpod.api#UpdatePodResponseCmdList",
          "traits": {
            "smithy.api#documentation": "Container CMD in exec form. When the image defines an ENTRYPOINT, this is the argument list passed to it. Encoded into the `args` field; supplying both is allowed only when they describe the same command. Send `[]` to clear, omit to leave unchanged.\n"
          }
        },
        "entrypoint": {
          "target": "com.runpod.api#UpdatePodResponseEntrypointList",
          "traits": {
            "smithy.api#documentation": "Container ENTRYPOINT in exec form, overriding the image's own. Encoded into `args` field; supplying both is allowed only when they describe the same command. Send `[]` to clear, omit to leave unchanged.\n"
          }
        },
        "disk": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Container disk in GB (ephemeral, wiped on restart)",
            "smithy.api#required": {}
          }
        },
        "env": {
          "target": "com.runpod.api#UpdatePodResponseEnvMap",
          "traits": {
            "smithy.api#documentation": "Environment variables as key-value pairs",
            "smithy.api#required": {}
          }
        },
        "image": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Docker image reference",
            "smithy.api#required": {}
          }
        },
        "ports": {
          "target": "com.runpod.api#UpdatePodResponsePortsList",
          "traits": {
            "smithy.api#documentation": "Exposed ports, formatted as port/protocol",
            "smithy.api#required": {}
          }
        },
        "registry": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Container registry credential ID (for private images)",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.runpod.api#PodStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "actions": {
          "target": "com.runpod.api#UpdatePodResponseActionsList",
          "traits": {
            "smithy.api#documentation": "Valid state transitions for the current status.",
            "smithy.api#required": {}
          }
        },
        "mounts": {
          "target": "com.runpod.api#Mounts",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "gpu": {
          "target": "com.runpod.api#GpuConfig",
          "traits": {
            "smithy.api#documentation": "Present for GPU pods; omitted from CPU pods."
          }
        },
        "cpu": {
          "target": "com.runpod.api#CpuConfig",
          "traits": {
            "smithy.api#documentation": "Present for CPU pods; omitted from GPU pods."
          }
        },
        "cloud": {
          "target": "com.runpod.api#Cloud",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "dataCenterId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Data center where the pod is running (assigned by scheduler)",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "cudaVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "CUDA version reported by the host machine. Retained while the pod is stopped — a stopped pod keeps its machine assignment and resumes onto the same host. Null means unknown or not applicable (CPU pods, or a host that has not reported one), not that CUDA is absent.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "ssh": {
          "target": "com.runpod.api#PodSsh",
          "traits": {
            "smithy.api#documentation": "SSH connection details, via the Runpod proxy or directly to the pod's published `22/tcp` port.",
            "smithy.api#required": {}
          }
        },
        "cluster": {
          "target": "com.runpod.api#PodCluster",
          "traits": {
            "smithy.api#documentation": "Cluster membership; omitted from a standalone pod. Member pods are managed through `/v2/clusters/{id}` — they are excluded from `GET /v2/pods` by default (pass `includeClusterPods=true` to include them) and cannot be modified or deleted via the pod endpoints."
          }
        },
        "template": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the template this pod was created from",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "cost": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Current cost in USD per hour (0.0 when EXITED or TERMINATED)",
            "smithy.api#required": {}
          }
        },
        "locked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the pod is locked (prevents stopping or resetting)",
            "smithy.api#required": {}
          }
        },
        "globalNetworking": {
          "target": "com.runpod.api#PodGlobalNetworking",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "runtime": {
          "target": "com.runpod.api#PodRuntime",
          "traits": {
            "smithy.api#documentation": "Live utilization metrics. Null when the pod is not RUNNING.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "startedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.runpod.api#UpdatePod": {
      "type": "operation",
      "input": {
        "target": "com.runpod.api#UpdatePodRequest"
      },
      "output": {
        "target": "com.runpod.api#UpdatePodResponse"
      },
      "errors": [
        {
          "target": "com.runpod.api#BadRequest"
        },
        {
          "target": "com.runpod.api#Forbidden"
        },
        {
          "target": "com.runpod.api#NotFound"
        },
        {
          "target": "com.runpod.api#Conflict"
        },
        {
          "target": "com.runpod.api#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/v2/pods/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Update a pod\n\nPartially updates a pod's configuration. This is a PATCH: only the\nfields present in the body are changed, and omitted fields are left\nuntouched. Use empty values only when you explicitly mean to clear a\nfield (for example, set `registry` to `null` or set `ports` to `[]`).\nSee `UpdatePodRequest` for the full body.\n\nMutable fields: `name`, `image`, `args`, `disk`, `ports`, `env`,\n`registry`, `mounts`, `locked`, and `globalNetworking`. Some changes\napply immediately while others (e.g. `globalNetworking`) take effect\non the pod's next start/restart, as noted on the individual fields.\n\nPods that belong to a Cluster cannot be updated here — manage them\nthrough `/v2/clusters/{id}`.\n\nReturns `200` with the full updated pod."
      }
    },
    "com.runpod.api#DeletePodRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Pod identifier"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.runpod.api#DeletePod": {
      "type": "operation",
      "input": {
        "target": "com.runpod.api#DeletePodRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.runpod.api#Forbidden"
        },
        {
          "target": "com.runpod.api#NotFound"
        },
        {
          "target": "com.runpod.api#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v2/pods/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Terminate a pod\n\nPermanently terminates and deletes a pod. This is irreversible:\ncompute is released, any `mounts.persistent` host-local storage is\ndestroyed with it (a `mounts.network` volume is only detached — the\nvolume itself is not deleted), and the pod no longer appears in\n`listPods`.\n\nPods that belong to a Cluster cannot be terminated here — delete the\ncluster via `DELETE /v2/clusters/{id}`."
      }
    },
    "com.runpod.api#PodActionRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.runpod.api#PodAction",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.runpod.api#PodActionResponseCmdList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Container CMD in exec form. When the image defines an ENTRYPOINT, this is the argument list passed to it. Encoded into the `args` field; supplying both is allowed only when they describe the same command. Send `[]` to clear, omit to leave unchanged.\n"
      }
    },
    "com.runpod.api#PodActionResponseEntrypointList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Container ENTRYPOINT in exec form, overriding the image's own. Encoded into `args` field; supplying both is allowed only when they describe the same command. Send `[]` to clear, omit to leave unchanged.\n"
      }
    },
    "com.runpod.api#PodActionResponseEnvMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Environment variables as key-value pairs"
      }
    },
    "com.runpod.api#PodActionResponsePortsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Exposed ports, formatted as port/protocol"
      }
    },
    "com.runpod.api#PodActionResponseActionsList": {
      "type": "list",
      "member": {
        "target": "com.runpod.api#PodAction"
      },
      "traits": {
        "smithy.api#documentation": "Valid state transitions for the current status."
      }
    },
    "com.runpod.api#PodActionResponse": {
      "type": "structure",
      "members": {
        "args": {
          "target": "smithy.api#String",
          "traits": {
[...]
